@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* ----------------------- BLOG PAGE CONTENT STYLES ----------------------------- */

body {
    /* background-color: rgba(193, 218, 241, 0.13); */
    background-color: rgba(245, 216, 246, 0.12);
    
}

img {
    width: 100%;
}


.blog__container {
    max-width: 800px;
    font-size: 16px;
    margin: 2rem auto;
}

.blog__heading  {
    /* text-align: center; */
    
    font-size: 1.5rem;
    font-weight: 300;
   
}

.blog__heading h1 {
    line-height: 1.3;
}

.blog__content {
    color: black;
    font-size: 1rem;
    margin: 1rem auto;
    letter-spacing: 1px;
    line-height: 1.6;
    font-family:'DM Sans', sans-serif ;
}

code:not(pre > code) {
   color: rgb(220,20,60);
}





@media screen and (max-width:1023px){
    .blog__container {
        margin: 2rem 1rem
    }
    .blog__heading {
        font-size: 1.8rem;
    }
}



@media screen and (max-width:768px){
  

    .blog__heading {
        font-size: 1.5rem;
       
    }
    .blog__content {
        line-height: 1.6;
        letter-spacing: 1px;
    }
  
}

.table-content {
    font-size: 0.9rem;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    overflow: hidden;
    font-weight: 600;
}

.table-content  th {
    color: white;
    background-color: black;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #dddddd;
}

.table-content td {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #dddddd;
}

.table-content tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.10);
}

#tableOfContents li {
    margin-left: 20px;
}
#tableOfContents li a {
    text-decoration: none;
}


li.h3 {
    list-style-type: circle;
}



